.cartContainer {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: calc(100vh - 110px);
  min-height: 500px;
  min-width: 400px;
  overflow: scroll;
  align-content: space-between;
  text-align: center;
  backdrop-filter: blur(5px);
  // background-color: #dedbd2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  border: 1px solid rgb(231, 231, 231);
  animation: open 1s;
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .empty {
    color: #4a5759;
    margin-top: 50%;
  }
  .cls {
    color: #4a5759;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 2;
    &:hover {
      color: #edafb8;
    }
  }

  .products {
    height: 75%;
    width: calc(100% - 20px);
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.685);
    margin: 30px 10px 0 10px;
    border: 1px solid rgb(231, 231, 231);

    .product {
      width: calc(100% - 10px);
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 5px;
      margin: 5px;
      position: relative;
      background: rgb(255, 255, 255);
      color: #4a5759;
      border: 1px solid rgb(231, 231, 231);
      &:hover {
        box-shadow: 0 0 10px rgba(126, 126, 126, 0.425);
        transform: scale(1.02);
        .close {
          display: inline;
        }
      }
      .close {
        display: none;
        position: absolute;
        left: 6px;
        top: 6px;
        font-size: 13px;
        color: #4a5759;
        &:hover {
          color: #edafb8;
        }
      }
      .productImage {
        width: 23%;
        height: 100%;
        overflow: hidden;
        background-color: white;

        img {
          margin-top: 5px;
          height: 90%;
          object-fit: contain;
          align-self: center;
          border-radius: 10px;
        }
      }
      .quality {
        text-align: left;
        align-self: center;
        width: 50%;
        font-size: 14px;
        font-weight: 400;
        .bolder {
          font-weight: 600;
        }
      }
      .quantity {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-self: center;

        .price {
          text-align: center;
          font-size: 13px;
          font-weight: 600;
          span {
            font-size: 10px;
          }
        }
        .amount {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-weight: 600;
          p {
            padding: 2px;
          }
          .btn {
            font-size: 12px !important;
            cursor: pointer;
            &:hover {
              color: #edafb8;
            }
          }
        }
      }
    }
  }

  .cartFooter {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    padding: 5px;
    margin-bottom: 10px;
    color: #4a5759;

    .total {
      font-size: 16px;
      font-weight: 600;
      span {
        font-weight: 600;
        font-size: 19px;
      }
    }
    .bttnsBox {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .bttns {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80px;
        height: 80px;
        color: #4a5759;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        .icn {
          font-size: 30px;
        }

        &:hover {
          border-bottom: 3px solid#edafb8;

          .icn {
            color: #edafb8;
          }

          p {
            color: #edafb8;
          }
        }
      }
      .success {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80px;
        height: 80px;
        border-bottom: 3px solid transparent;
        .icn {
          font-size: 30px;
        }
      }
      p {
        font-size: 10px;
        cursor: pointer;
        font-weight: 500;
      }
    }
    .stats {
      font-size: 13px;
    }
  }
}
